h2{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 19px;
    background-color: none;
}

h1{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    font-size: 80px;
    background-color: transparent;
    margin: 70px;
}

p{
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 27px;
  }

.title{
    position: fixed;
    width: 100vw;
    top: -7%;
    left: 0%;
    background-color: transparent;
    z-index: 5;
    display: block;
}

.title1{
    display: none;

}

.question{
    position: absolute;
    top: 15%;
    left: 10%;
    width: 80%;
}

.next{
    position: absolute;
    top: 75%;
    right: 10%;
}

.next h2:hover{
    font-size: 23px;
}


.navigation {
    position: fixed; 
    top: 20px; 
    right: 20px;
    z-index: 150; 
    background-color: transparent; 
  }
  
  
  
  .popup {
    display: none; 
    position: absolute;
    top: 60%; 
    right: 5%; 
    background-color: rgba(255, 255, 255, 0.9); 
    color: black;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0.9; 
    border-radius: 8px;
    text-align: left;
    width: 180px; 
  }

  .popup h2:hover{
    font-size: 23px;
  }

  .navigation:hover .popup {
    display: block; 
  }


a {
    text-decoration: none;
    background-color: transparent;
    color: #000;
    background-color: transparent;
  }

svg{
    width: 40px;
    position: fixed;
    top: 5%;
    right: 3%;
    z-index: 1;
}


.right {
    position: fixed;
    right: 0;
    top: 0; 
    width: 15px; 
    height: 100vh;
}

.right:hover {
    width: 20px; 
    cursor: pointer;
}


#one{
background-color: #EBE8E8;
}

#two{
    background-color: #FFBB00; 
}

#three{
    background-color: #0205c9;
}

#four{
    background-color: #01BEA5;
}

#five{
    background-color: #FF00C8;
}






.ichi, .ni, .san, .yon, .go {
    width: 50px;
    height: 30px;
    background-color: #000;
    position: relative; 
}


.ichi img, .ni img, .san img, .yon img, .go img {
    display: none; 
    position: absolute; 
    top: -30px;
    left: -10px;
    width: 40px;
    height: auto; 
    border-radius: 5px;
    z-index: 10;
    background-color: transparent;
}


.ichi:hover img, .ni:hover img, .san:hover img, .yon:hover img, .go:hover img {
    display: block; 
}



.timeline {
    display: flex; 
    justify-content: center; 
    gap: 100px; 
    position: fixed; 
    bottom: -3%; 
    left: 50%;
    transform: translateX(-50%); 
    z-index: 200; 
    align-items: flex-end;
}

.timeline a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}





/*memory*/


.memory-container {
    position: relative;
    width: 100%; 
    height: auto; 
    z-index: -10;
    background-color: transparent;
}

#emotion{
    margin-top: 80px;
}

.memory-img {
    position: absolute;
    top: 0;
    left: 12%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.memory-img.active {
    opacity: 1;
    z-index: 10;
}

.memory-text {
    position: absolute;
    width: 550px; 
    margin: 20px 0;
    right: 5%;
    overflow-y: auto;
    height: 100vh;
}

.cover{
        position: fixed;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 100px;
        background: linear-gradient(to top, rgba(235, 232, 232, 1) 25%, rgba(235, 232, 232, 0) 100%);
}






/*cognition*/

.before-4{
    width: 27%;
    position: fixed;
    bottom: 10%;
    right: 0;
    background-color: transparent;
    z-index: 1;
}

.item-4{
    width: 27%;
    position: fixed;
    bottom: 9%;
    right: 0;
    opacity: 0;
    background-color: #FFBB00;
    background-color: transparent;
    z-index: 2;
}

.item-4:hover{
    opacity: 1;
}

.before-1{
    width: 8%;
    position: fixed;
    top: 30%;
    left: 3%;
    background-color: transparent;
    z-index: 10;
}

.item-1{
    width: 8%;
    position: fixed;
    top: 30%;
    left: 3.5%;
    opacity: 0;
    background-color: transparent;
    z-index: 15;
}

.item-1:hover{
    opacity: 1;
}

.before-2{
    width: 22%;
    position: fixed;
    top: 20%;
    left: 15%;
    background-color: transparent;
}

.item-2{
    width: 24%;
    position: fixed;
    top: 15%;
    left: 16%;
    opacity: 0;
    background-color: transparent;
}

.item-2:hover{
    opacity: 1;
}

.before-3{
    width: 20%;
    position: fixed;
    top: 50%;
    left: -2%;
    background-color: transparent;
    z-index: 13;
    rotate: -20deg;
}

.item-3{
    width: 22%;
    position: fixed;
    top: 51%;
    left: -1%;
    opacity: 0;
    rotate: -20deg;
    background-color: transparent;
    z-index: 15;
}

.item-3:hover{
    opacity: 1;
}

.before-5{
    width: 20%;
    position: fixed;
    top: 20%;
    left: 23%;
    background-color: transparent;
    z-index: 10;
}

.item-5{
    width: 30%;
    position: fixed;
    top: 22%;
    left: 22%;
    opacity: 0;
    background-color: transparent;
    z-index: 11;
}

.item-5:hover{
    opacity: 1;
}


.cognition-text {
    position: absolute;
    width: 550px; 
    margin: 50px 0; 
    right: 22%;
    overflow-y: auto;
    height: 100vh;
}

#intro2{
    margin-top: 355px;
}














/*language*/

.door img{
    position: absolute;

}

.door-1{
    width: 50%;
    top: -10%;
    left: 25%;
    z-index: 1;
}

.door-11 {
    width: 50%;
    top: -10%;
    left: 0; /* 起始位置 */
    z-index: 1;
    position: absolute; /* 确保定位 */
}

/* 定义动画 */
@keyframes slideToLeft {
    0% {
        left: 25%; /* 起始点 */
    }
    100% {
        left: 0; /* 终点 */
    }
}

.door-9{
    width: 23%;
    bottom: 0;
    left: 57%;
}

.door-19{
    width: 23%;
    bottom: 0;
    left: 78%;
    position: absolute; /* 确保定位 */
}

/* 定义动画 */
@keyframes slideToRight {
    0% {
        left: 25%; /* 起始点 */
    }
    100% {
        left: 78%; /* 终点 */
    }
}

.door-6{
    width: 22%;
    rotate: 270deg;
    bottom: -3%;
    left: 26.5%;
    z-index: -1;
}

.door-16{
    width: 22%;
    rotate: 270deg;
    bottom: -3%;
    left: 0;
    z-index: 2;
    position: absolute; /* 确保定位 */
}

.door-7{
    width: 15%;
    left: 60%;
    top: 36%;
    z-index: 3;
}

.door-17{
    width: 15%;
    left: 85%;
    top: 25%;
    z-index: 3;
    position: absolute; /* 确保定位 */
}

@keyframes slideToRight1 {
    0% {
        left: 25%; /* 起始点 */
    }
    100% {
        left: 85%; /* 终点 */
        top: 25%;
    }
}

.door-8{
    width: 22%;
    left: 45%;
    top: 33%;
    z-index: -5;
}

.door-18{
    width: 22%;
    left: 76%;
    top: 33%;
    z-index: -5;
    position: absolute; /* 确保定位 */
}

@keyframes slideToRight2 {
    0% {
        left: 25%; /* 起始点 */
    }
    100% {
        left: 76%; /* 终点 */
    }
}

.door-2{
    width: 12%;
    top: 65%;
    left: 62%;
    z-index: 5;
}

.door-12{
    width: 12%;
    top: 65%;
    left: 76%;
    z-index: 5;
    position: absolute; /* 确保定位 */
}

@keyframes slideToRight2 {
    0% {
        left: 25%; /* 起始点 */
    }
    100% {
        left: 76%; /* 终点 */
    }
}

.door-3{
    width: 20%;
    top: 20%;
    left: 25%;
    z-index: 3;
}

.door-13{
    width: 20%;
    top: 20%;
    left: 0;
    z-index: 3;
    position: absolute; /* 确保定位 */
}

.door-4{
    width: 20.5%;
    top: 14%;
    left: 35%;
}

.door-14{
    width: 20.5%;
    top: 14%;
    left: 10%;
    position: absolute; /* 确保定位 */
}

@keyframes slideToLeft2 {
    0% {
        left: 25%; /* 起始点 */
    }
    100% {
        left: 10%; /* 终点 */
    }
}

.door-5{
    width: 10%;
    top: 42%;
    left: 46%;
}

.door-15{
    width: 10%;
    top: 42%;
    left: 77%;
    position: absolute; /* 确保定位 */
}

@keyframes slideToRight3 {
    0% {
        left: 25%; /* 起始点 */
    }
    100% {
        left: 77%; /* 终点 */
    }
}


.eye{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFBB00;
    position: absolute;
    top: 29%;
    left: 48%;
    z-index: 10;
    opacity: 0;
}

.eye:hover{
    opacity: 0.5;cursor: pointer;
}

.rec{
    width: 550px; 
    height: 100vh;
    background-color: #0015ff;
    position: absolute;
    left: 35%;
    z-index: 3;
    top: 0;
}

.language-text {
    position: absolute;
    margin: 50px 0; 
    right: 15%;
    overflow-y: auto;
    height: 100vh;
}

#intro3{
    margin-top: 220px;
}








/*culture*/
.culture-text{
    position: absolute;
    width: 550px; 
    height: 100vh;
    left: 5%;
    margin: 20px 0;
    overflow-y: auto;
}

#intro4{
    margin-top: 70px;
}

.bottom{
    position: fixed;
    bottom: 0;
    width: 50%;
    height: 100px;
    background: linear-gradient(to top, rgba(235, 232, 232, 1) 25%, rgba(235, 232, 232, 0) 100%);
}

.image-container-culture img{
    z-index: 100;
}

#c1{
    position: fixed; width:45%; right: 0; top: -25px;
}

#c2{
    position: fixed; width: 20%; right: 32%; top: 40%;
}

#c3{
    position: fixed; width: 6%; right: 33%; top: 29%;
}

#c4{
    position: fixed; width: 5%; right: 11%; top: 40%;
}

#c5{
    position: fixed; width: 7%; right: 31%; top: 19%;
}

#c6{
    position: fixed; width: 9%; right: 18%; bottom: -2%; rotate: 20deg;
}

#c7{
    position: fixed; width: 12%; right: 6%; top: 0;
}

#c8{
    position: fixed; width: 5%; right: 7%; top: 0;
}

#c9{
    position: fixed; width: 3%; right: 16%; top: 70%;
}

#c10{
    position: fixed; width: 10%; right: -2%; top: 45%;
}


/*emotion*/
.emotion-image{
    position: absolute;
    top: 17%;
    left: 5%;
}

.floating-img {
    position: absolute; 
    top: 0; 
    left: 35%; 
    transform: translateX(-50%); 
    width: 70%; 
    animation: floatRandom 70s infinite ease-in-out; 
    margin-bottom: 200px;
    overflow-y: auto;
}




.emotion-text{
    position: absolute;
    width: 550px; 
    right: 5%;
    margin: 50px 0;
    overflow-y: auto;
    height: 100vh;
}

#intro5{
    margin-top: 50px;
}









/* Overlay container */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    visibility: hidden; /* Hidden by default */
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  /* Overlay content */
  .overlay-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 80%;
  }
  
  /* Overlay active class */
  .overlay.active {
    visibility: visible;
    opacity: 1;
  }
  



.color{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 600px;
    background-color: #000;
    opacity: 0;
}

.space{
    width: 20px;
    height: 200px;
    background-color: #FFBB00;
    display: none;
}




  @media screen and (max-width: 430px) {
    html{
        overflow: hidden;
    }

    .space{
        width: 20px;
        height: 200px;
        background-color: #FFBB00;
        display: block;
    }

    .color{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 600px;
        background-color: #EBE8E8;
        opacity: 1;
    }

    .question{
        top: 5%;
        left: -5%;
        width: 100%;
        right: 0;
    }

    .next{
        top: 85%;
    }

    h1{
        font-size: 62px;
        line-height: 66px;
      }

    .title{
        display: none;
    }

    .title1{
        top: -3%;
        left: -10%;
        position: fixed;
        width: 110vw;
        background-color: transparent;
        z-index: 5;
        display: block;
    }

    #line2{
        margin-top: -80px;
    }

    .timeline{
        gap: 20px;
    }

    /*memory*/

    .memory-container {
        
        width: 100%;
        height: 400px;
        margin-top: 200px;
        z-index: 10;
        background-color: #EBE8E8;
    }

    #emotion{
        background-color: transparent;
        margin-top: 150px;
    }

    .cover{
        width: 100%;
        height: 150px;
    }

    .memory-img{
        right: 0px;
        width: 70%;
        height: auto;
        max-height: 400px;
    }

    .memory-text{
        width: 350px;
        right: 8%;
        top: 170px;
        z-index: -1;
    }


    /*cogniztion*/
    .before{
        width: 100%;
        height: 450px;
        background-color: #FFBB00;
    }

    .before-4{
        width: 50%;
        position: fixed;
        top: 43%;
        right: 0;
        background-color: transparent;
        z-index: 1;
    }
    
    .item-4{
        width: 50%;
        position: fixed;
        top: 44%;
        right: 0;
    }
    
    .before-1{
        width: 15%;
        position: fixed;
        top: 33%;
        left: 5%;
        background-color: transparent;
        z-index: 10;
    }
    
    .item-1{
        width: 15%;
        position: fixed;
        top: 33%;
        left: 5.5%;
        opacity: 0;
        background-color: transparent;
        z-index: 15;
    }
    
    .before-2{
        width: 40%;
        position: fixed;
        top: 23%;
        left: 20%;
        background-color: transparent;
    }
    
    .item-2{
        width: 42%;
        position: fixed;
        top: 23%;
        left: 23%;
        opacity: 0;
        background-color: transparent;
    }
    
    .item-2:hover{
        opacity: 1;
    }
    
    .before-3{
        width: 30%;
        position: fixed;
        top: 53%;
        left: -2%;
        background-color: transparent;
        z-index: 13;
        rotate: -20deg;
    }
    
    .item-3{
        width: 32%;
        position: fixed;
        top: 54%;
        left: -1%;
        opacity: 0;
        rotate: -20deg;
        background-color: transparent;
        z-index: 15;
    }
    
    .before-5{
        width: 40%;
        position: fixed;
        top: 23%;
        left: 43%;
        background-color: transparent;
        z-index: 10;
    }
    
    .item-5{
        width: 60%;
        position: fixed;
        top: 24%;
        left: 41%;
        opacity: 0;
        background-color: transparent;
        z-index: 11;
    }

    
    
    .cognition-text {
        width: 350px;
        right: 8%;
        margin-top: -250px;
        
    }





    /*language*/
    
.door-1{
    width: 100%;
    top: 28%;
    left: 0%;
    z-index: 1;
}

.door-11 {
    width: 100%;
    top: 20%;
    left: 0;
    z-index: 1;
    position: absolute; /* 确保定位 */
}

/* 定义动画 */
@keyframes slideToLeft {
    0% {
        left: 25%; /* 起始点 */
    }
    100% {
        left: 0; /* 终点 */
    }
}

.door-9{
    width: 43%;
    bottom: 0;
    left: 56%;
}

.door-19{
    width: 23%;
    bottom: 0%;
    left: 76%;
    position: absolute; /* 确保定位 */
}

/* 定义动画 */
@keyframes slideToRight {
    0% {
        left: 25%; /* 起始点 */
    }
    100% {
        left: 76%; /* 终点 */
    }
}

.door-6{
    width: 42%;
    rotate: 270deg;
    bottom: 11%;
    left: 0%;
    z-index: 0;
}

.door-16{
    width: 20%;
    rotate: 270deg;
    bottom: 41%;
    left: 0;
    z-index: 2;
    position: absolute; /* 确保定位 */
}

.door-7{
    width: 30%;
    left: 70%;
    top: 63%;
    z-index: 3;
}

.door-17{
    width: 30%;
    left: 69%; /* 终点 */
    top: 35%;
    z-index: 3;
    position: absolute; /* 确保定位 */
}

@keyframes slideToRight1 {
    0% {
        left: 70%; /* 起始点 */
        top: 63%;
    }
    100% {
        left: 69%; /* 终点 */
        top: 35%;
    }
}

.door-8{
    width: 55%;
    left: 40%;
    top: 58%;
    z-index: -5;
}

.door-18{
    width: 12%;
    left: 35%;
    top: 43%;
    z-index: -5;
    position: absolute; /* 确保定位 */
}

@keyframes slideToRight2 {
    0% {
        left: 25%; /* 起始点 */
    }
    100% {
        left: 35%; /* 终点 */
    }
}

.door-2{
    width: 32%;
    top: 80%;
    left: 62%;
    z-index: 5;
}

.door-12{
    width: 12%;
    top: 50%;
    left: 85%;
    z-index: 5;
    position: absolute; /* 确保定位 */
}

@keyframes slideToRight2 {
    0% {
        left: 25%; /* 起始点 */
    }
    100% {
        left: 85%; /* 终点 */
    }
}

.door-3{
    width: 48%;
    top: 50%;
    left: -12%;
    z-index: 3;
}

.door-13{
    width: 25%;
    top: 42%;
    left: 0;
    z-index: 3;
    position: absolute; /* 确保定位 */
}

.door-4{
    width: 65%;
    top: 38%;
    left: 2%;
}

.door-14{
    width: 45%;
    top: 30%;
    left: 0;
    position: absolute; /* 确保定位 */
}

@keyframes slideToLeft2 {
    0% {
        left: 25%; /* 起始点 */
    }
    100% {
        left: 0; /* 终点 */
    }
}

.door-5{
    width: 10%;
    top: 42%;
    left: 46%;
}

.door-15{
    width: 15%;
    top: 50%;
    left: 20%;
    position: absolute; /* 确保定位 */
}

@keyframes slideToRight3 {
    0% {
        left: 46%; /* 起始点 */
    }
    100% {
        left: 20%; /* 终点 */
    }
}


.eye{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #FFBB00;
    position: absolute;
    top: 49%;
    left: 40%;
    z-index: 10;
    opacity: 0;
}

.eye:hover{
    opacity: 0.5;cursor: pointer;
}

.rec{
    width: 350px; 
    height: 100vh;
    background-color: #0015ff;
    position: absolute;
    left: 15%;
    z-index: -1;
    top: 0;
}

@keyframes colorChange {
    0% {
        opacity: 0; 
        filter: blur(40px);
    }
    100% {
        opacity: 1; 
        filter: blur(0);
    }
}

.language-text {
    right: 15%;
    overflow-y: auto;
    height: 100vh;
    margin-top: 250px;
}



/*emotion*/
.frame {
    position: relative; /* 定位上下文 */
    width: 100%; /* 设置 frame 的宽度 */
    height: 450px; /* 固定 frame 的高度 */
    overflow: hidden; /* 隐藏超出 frame 的内容 */
    margin: 10px auto; /* 居中显示 */
    background-color: #000;
}

.emotion-image{
    position: absolute;
    top: 17%;
    left: 60%;
}

.floating-img {
    width: 120%; 
    left: 80%;
    overflow-y: auto;
}




.emotion-text{
    position: absolute;
    width: 350px; 
    right: 8%;
    margin-top: -290px;
    z-index: -10;
}



/*culture*/
.culture-text{
    width: 350px; 
    left: 9.5%;
    margin-top: 220px;
}


.bottom{
    width: 100%;
    height: 150px;
}

#c1{
    width:75%; right: 0; top: 18%;
}

#c2{
    width: 40%; right: 52%; top: 38%;
}

#c3{
    width: 10%; right: 58%; top: 32%;
}

#c4{
    width: 10%; right: 16%; top: 34%;
}

#c5{
    width: 17%; right: 53%; top: 27%;
}

#c6{
    width: 19%; right: 28%; bottom: 44%; rotate: 20deg;
}

#c7{
    width: 22%; right: 3%; top: 20%;
}

#c8{
    width: 10%; right: -3%; top: 17%;
}

#c9{
    width: 8%; right: 24%; top: 42%;
}


  }