html{
    background-color: black;
}

h1{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    font-style: italic;
    font-size: 80px;
    background-color: transparent;
}

h2{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 19px;
    background-color: transparent;
}

p{
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 27px;
}

.title{
    position: fixed;
    top: -7%;
    left: 3%;
    background-color: transparent;
    z-index: 5;
}


.title2{
  position: fixed;
  top: -7%;
  left: 5%;
  background-color: transparent;
  z-index: 5;
}

.content{
  padding: 5px;
}



.navigation {
  position: fixed; 
  top: 20px; 
  right: 20px;
  z-index: 100; 
  background-color: transparent; 
}



.popup {
  display: none; 
  position: absolute;
  top: 60%; 
  right: 5%; 
  background-color: rgba(255, 255, 255, 0.8); 
  color: black;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0.9; 
  border-radius: 8px;
  text-align: left;
  width: 180px; 
}

    input[type="range"] {
      -webkit-appearance: none; 
      width: 150px;
      height: 6px;
      background: #666565; 
      border-radius: 3px;
      outline: none;
    }


    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none; 
      width: 20px;
      height: 20px;
      background: white; 
      border-radius: 50%;
      border: 2px solid #aaa; 
      cursor: pointer;
      transition: background 0.2s ease, transform 0.2s ease;
    }


    .popup h2:hover{
      font-size: 23px;
    }

.navigation:hover .popup {
  display: block; 
}






a {
    text-decoration: none;
    background-color: transparent;
    color: #000;
    cursor: pointer;
  }

  



  #rectangle {
    width: 100vw; 
    height: 120px; 
    background-color: #000;
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: -1; 
}


.dots{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    top: 20%;
    left: 5%;
    z-index: -2;
    padding: 0 0 50px 0;
}

.image-container {
    display: inline-block;
    text-align: center; 
}

.image-caption {
    display: block;
    margin-top: -20px; 
    font-size:large;
    color: #fff;
}

.scroll-container {
  position: relative; /* 使用 relative 定位 */
  margin: 0 auto; /* 自动水平居中 */
  top: 50%; 
  transform: translate(0%,5%); 
  height: auto; /* 自动高度 */
  overflow-x: auto; /* 横向滚动条 */
  white-space: nowrap; /* 禁止换行 */
  display: flex; /* 使用 flex 布局 */
  gap: 20px; /* 元素间的间距 */
  background-color: transparent; /* 背景透明 */
  width: 75%; /* 可根据需求调整宽度 */
}

.scroll-container img {
  max-width: 350px; 
}

.hidden{
  opacity: 0;
  transition: opacity 0.8s ease;
}

.hidden:hover{
  opacity: 1;
}

.arrow {
  color: #EBE8E8;
  position: absolute; /* 使用 relative 定位 */
  top: 50%; /* 相对于其位置调整到和 scroll-container 一样的高度 */
  right: 5%;
  transform: translateY(-50%); /* 垂直方向居中 */
}

.arrow1 {
  color: #EBE8E8;
  position: absolute; /* 使用 relative 定位 */
  top: 50%; /* 相对于其位置调整到和 scroll-container 一样的高度 */
  left: 5%;
  transform: translateY(150%); /* 垂直方向居中 */
}


.info{
  width: 100vw;
  position: relative;
  transform: translate(-50%, 0);
  top: 50%; /* 从顶部偏移 50% */
  left: 50%; /* 从左侧偏移 50% */
  margin-top: 5px;
  background-color: #EBE8E8;
}

.info h1{
  color: #000;
  margin: 50px;
  line-height: 80px;
}

.para{
  display: flex;
  background-color: transparent;
}

#one{
  width: 50%;
  margin: 0 50px;
}

#two{
  width: 50%;
  margin: 0 50px;
}

#zuo{
  width: 10px;
  height: 80px;
  background-color: #000;
}

.block-group{
  display: flex;
  cursor: pointer;
}

.block-1{
  position: relative;
  background-color: #FFBB00;
  width: 20%;
  height:100px;
  transition: all 0.3s ease; 
  box-shadow: inset -15px -15px 15px rgba(0, 0, 0, 0.5);
}

.block-1:hover {
  box-shadow: inset 8px 8px 15px rgba(0, 0, 0, 0.5); 
}

.block-name2 {
  position: absolute; 
  display: flex; 
  top: 20%;
  justify-content: center; 
  text-align: center;
  width: 100%; 
  height: 100%; 
  transition: opacity 0.3s ease; 
}



.block-2{
  position: relative;
  background-color: #0015ff;
  width: 20%;
  height:100px;
  transition: all 0.3s ease; 
  box-shadow: inset -15px -15px 15px rgba(0, 0, 0, 0.5);
}

.block-2:hover {
  box-shadow: inset 8px 8px 15px rgba(0, 0, 0, 0.5); 
}

.block-name3 {
  position: absolute; 
  display: flex; 
  top: 20%;
  justify-content: center; 
  text-align: center;
  width: 100%; 
  height: 100%; 
  transition: opacity 0.3s ease; 
}


.block{
  display: flex;
  justify-content: flex-end;
}

.block-3{
  position: relative;
  background-color: #01BEA5;
  width: 20%;
  height:100px;
  transition: all 0.3s ease; 
  box-shadow: inset -15px -15px 15px rgba(0, 0, 0, 0.5);
}

.block-3:hover {
  box-shadow: inset 8px 8px 15px rgba(0, 0, 0, 0.5); 
}

.block-name4 {
  position: absolute; 
  display: flex; 
  top: 20%;
  justify-content: center; 
  text-align: center;
  width: 100%; 
  height: 100%; 
  transition: opacity 0.3s ease; 
}


.block-4{
  position: relative;
  background-color: #FF00C8;
  width: 20%;
  height:100px;
  transition: all 0.3s ease; 
  box-shadow: inset -15px -15px 15px rgba(0, 0, 0, 0.5);
}

.block-4:hover {
  box-shadow: inset 8px 8px 15px rgba(0, 0, 0, 0.5); 
}

.block-name5 {
  position: absolute; 
  display: flex; 
  top: 20%;
  justify-content: center; 
  text-align: center;
  width: 100%; 
  height: 100%; 
  transition: opacity 0.3s ease; 
}


.block-5{
  position: relative;
  background-color: #EBE8E8;
  width: 20%;
  height:100px;
  transition: all 0.3s ease; 
  box-shadow: inset -15px -15px 15px rgba(0, 0, 0, 0.5);
}

.block-5:hover {
  box-shadow: inset 8px 8px 15px rgba(0, 0, 0, 0.5); 
}

.block-name {
  position: absolute; 
  display: flex; 
  top: 20%;
  justify-content: center; 
  text-align: center;
  width: 100%; 
  height: 100%; 
  transition: opacity 0.3s ease; 
}



.words{
  width: 50%;
  position: relative;
  margin-left: 50px;
}

.photo {
  width: 400px;
  height: 500px;
  margin-left: 50px;
  border: 1px solid #EBE8E8;
  position: relative;
  overflow: hidden;
}

.photo img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  position: absolute; 
  top: 0;
  left: 0;
  transition: opacity 0.5s ease; 
}

.hidden {
  opacity: 0; 
  z-index: 1; 
}

.visible {
  opacity: 1; 
  z-index: 2;
}


.explore{
display: flex;
gap: 80px;
}

.call{
  margin-top: -70px;
  display: inline;
}

.exhibition{
  display: flex;
}

.flex{
  display: flex;
}

.floor{
  width: 400px;
  height: 270px;
  margin-left: -75px;
  background-color: #EBE8E8;
  display: flex;
  justify-content: center;
}

.rendering{
  width: 400px;
  height: 270px;
  background-color: #b5b5b5;
}

.video-container {
  width: 500px; 
  height: 300px; 
  overflow: hidden; 
  position: relative;
}

.slow-video {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  pointer-events: none;
}




.artwork {
  position: absolute;
  top: 20%;           
  left: 50%;     
  transform: translate(-50%, 0); 
  z-index: -5;
}

.artwork2{
  display: none;
}

.floorplan {
  position: absolute;
  top: 20%;
  left: 50%; 
  transform: translate(-50%, 0); 
  z-index: -5; 
  color: #EBE8E8;
  width: 80%;
}


.circulation{  
  display: flex;
  gap: 80px;
}

.rooms p{
  margin-top: -10px;
}

.elevation img{
  max-height: 200px;
  width: auto;
  overflow-x: auto;
}


.play{
  width: 100%; 
  height: auto; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  margin: 0 auto; 
  z-index: -10;
}

.cover{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to bottom, rgb(0, 0, 0) 45%, rgba(235, 232, 232, 0) 100%);
}










@media screen and (max-width: 430px) {

  h1{
    font-size: 62px;
    line-height: 66px;
  }

  .scroll-container {
    width: 87%;
  }
  
  .arrow{
    top: 60%;
  }

  .para{
    display: list-item;
  }

  #one{
    width: 75%;
    margin: 50 50px;
    margin-bottom: 30px;
    margin-top: -50px;
  }
  
  #two{
    width: 75%;
    margin-top: 30px;
    margin: 50 50px;
  }

  .words{
    width: 80%;
    position: relative;
    margin-left: 10px;
  }

  .exhibition{
    display:contents;
  }
  
  .flex{
    display:contents;
  }

  .call{
    display: contents;
  }

  .call h1{
    margin-top: -1300px;
  }

  .explore {
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap; 
    gap: 10px; 
    width: 100%; 
    margin-top: 200px;
}

.floor{
  margin-left: 0;
}

.photo{
  margin-left: 0;
}


.title{
  top: -3%;
    left: 5%;
    z-index: 10;
}

.artwork{
  display: none;
}

.artwork2{
  display: block;
  text-align: center;
  position: absolute;
  top: 15%;
}

.cover{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to bottom, rgb(0, 0, 0) 45%, rgba(235, 232, 232, 0) 100%);
}

.title{
position: fixed;
}

.floorplan{
top: 15%;
width: 86%;
}

.circulation{
  display: block;
}

.circulation img{
  width: 100%;
  margin-top: 20px;
}

.circulation h2{
margin-top: -15px;
}

.circulation p{
  margin-top: -15px;
  }

#purpose{
  margin-top: -100px;
}




.elevation {
  overflow-x: auto; 
  white-space: nowrap; 
  display: block; 
}

.elevation img {
  max-height: 200px; 
  width: auto; 
  display: inline-block; 
}

.play {
  position: absolute; /* 使容器在屏幕上居中 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg); /* 旋转90度并居中 */
  width: 100vh; /* 宽度等于视口高度 */
  height: 100vw; /* 高度等于视口宽度 */
  overflow: hidden; /* 避免视频溢出 */
}

.play video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 视频居中 */
  min-width: 100vh; /* 视频的最小宽度适应旋转后的容器 */
  min-height: 100vw; /* 视频的最小高度适应旋转后的容器 */
  object-fit: cover; /* 保持视频比例且覆盖整个屏幕 */
}


}